<app-subnavbar></app-subnavbar>
<div class="page-container">
        <div class="task-grid task-panel" [ngClass]="{'leftPanel' : leftPanel}">
            <div class="task-grid-header">
                <div class="gridHeader-buttons">
                    <a class="btn btn-primary btn-lg" role="button" (click)="showTaskBlock()">Add Task</a>
<!--                    <a class="btn btn-primary btn-lg" role="button">Add Section</a>-->
                </div>
            </div> 
            <div class="task-grid-body">
                <div class="task-list">
                    <div class="task-list-item" *ngFor="let task of allTasks">
                        <div class="task-row">
                            <span class="glyphicon glyphicon-ok-circle" area-hidden="true"></span>
                            <h4>{{task.task}}</h4>
                            <span class="glyphicon glyphicon-trash" (click)="deletePopup.show()" area-hidden="true"></span>
                            <input type="hidden" value="{{task._id}}" #taskId />
                            <app-delete-task #deletePopup [id]="taskId.value"></app-delete-task>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div [hidden] = "!newTaskBlock" class="task-panel" [ngClass]="{'rightPanel' : rightPanel}">
            <div class="task-grid-header">
                <span class="glyphicon glyphicon-remove" (click)="hideTaskBlock()" area-hidden="true"></span>
            </div> 
            <div class="task-grid-body">
                <form class="navbar-form navbar-left new-task-form" #taskForm="ngForm" name="taskForm" (ngSubmit)="onSubmit(taskForm.value)" novalidate>
                  <div class="form-group">
                    <input type="text" class="form-control" #project="ngModel" name="project" placeholder="Add a Project" ngModel required>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="task-title" name="task" #task="ngModel" placeholder="Create Task" ngModel required>
                  </div>
                    <div class="form-group">
                    <input type="text" class="form-control" #description="ngModel" name="description" placeholder="Description" ngModel>
                  </div>
                  <button type="submit" class="btn btn-default">Add Task</button>
                </form>
            </div> 
        </div>
</div>
