.page-container{
    background: #F1F4F5;
    min-height: 560px;
    text-align: center;
}

.task-panel{
    margin: 0 auto;
    position: relative;
    top: 20px;
    background: #fff;
    min-height: 520px;
    min-width: 500px;
    max-width: 1000px;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
    text-align: left;
}

.leftPanel{
    min-width: 700px;
    display: inline-block;
    margin: 0 30px 20px;
    float: left;
}

.rightPanel{
    display: inline-block;
    min-width: 550px;
}

.gridHeader-buttons{
    display: inline-block;
    padding: 10px 20px;
}

.gridHeader-buttons a{
    font-size: 12px;
    line-height: 1;
}

.task-grid-header{
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.rightPanel .task-grid-header{
    height: 54px;
}

.new-task-form{
    padding: 0 33px;
    float: none !important;
}

.glyphicon.glyphicon-remove{
    left: 520px;
    top: 17px;
    font-size: 20px;
    cursor: pointer;
    color: #ababab;
}

.new-task-form .form-group{
    display: block;
    margin: 10px 0;
    width: 100%;
}

.new-task-form input{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
}

.new-task-form input:hover{
   border: 1px solid #ccc
}

.new-task-form input:focus{
   border: 1px solid #ccc
}

#task-title{
    height: 50px;
    font-size: 28px;
}

.task-list-item{
    padding: 0 20px;
    border: solid 1px transparent;
}

.task-row{
    border-bottom: solid 1px #cdcdcd;
}

.task-row h4{
    display: inline-block;
    margin: 8px;
    color: #676767;
    cursor: default;
}

.task-row:hover .glyphicon.glyphicon-trash{
    display: inline-block;
}

.task-row span{
    font-size: 20px;
    color: #cdcdcd;
    cursor: pointer;
}

.task-row span:hover{
    color: #9a9a9a;
}

.glyphicon.glyphicon-ok-circle{
    top: 4px;
}

.glyphicon.glyphicon-trash{
    top: 7px;
    float: right;
    display: none;
}
