<div class="newLoginForm">
    <p id="loginBanner">Welcome Back!</p>
    <form name="loginForm" id="loginForm" autocomplete="off">
        <div id="unameWarning"></div>
        <div class="formContainer">
            <div class="formRow">
                <div class="formItem twelve"><input type="text" placeholder="Username" name="uname"></div>
                <div class="clear"></div>
            </div>
            <div class="formRow">
                <div class="formItem twelve"><input type="password" placeholder="Password" name="pass"></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="formFooter">
            <input type="button" name="button" class="form button"  value="Login" />
        </div>
    </form>
    <a href="">Forgot Password?</a>
    <div class="clear"></div>
</div>
