<app-header></app-header>
<div class="container userForm loginForm">
    <h2 class="page-header">Login</h2>
    <div class="row show-hide-message">
      <div [ngClass]="messageClass">
        {{ message }}
      </div>
    </div>

    <!-- Login Form -->
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" autocomplete="off" name="userForm" novalidate>

      <!-- Username Field -->
      <div class="form-group">
        <label for="username">Email</label>
          <input class="form-control" type="text" name="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Email" ngModel />
          <!-- Validation -->
          <div *ngIf="email.errors && email.dirty" class="Warning">
            <div [hidden] = "!email.errors.required">
                <span>Please Enter an Email Address</span>
            </div>
            <div [hidden] = "!email.errors.pattern">
                <span>Please Enter a valid Email Address</span>
            </div>
        </div>
      </div>

      <!-- Password Field  -->
      <div class="form-group">
        <label for="password">Password</label>
         <input type="password" class="form-control" #password="ngModel" placeholder="Password" minlength="8" name="password" ngModel required />
          <!-- Validation -->
          <div *ngIf="password.errors && password.dirty" class="Warning">
            <div [hidden] = "!password.errors.required">
                <span>Please Enter a password</span>
            </div>
            <div [hidden]="!password.errors.minlength" >      
                <span>Minimum length: 8</span>
            </div>
          </div>
          
      </div>
      <!-- Submit Button -->
      <button [disabled]="!userForm.form.valid" type="submit" class="form button">Login</button>
    </form>

</div>
