<div class="container">
    <section class="firstLayer">
        <h1 class="mainHeading">NEWSLETTER SUBSCRIPTION FORM </h1>
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        <div class="signupForm">
            <div class="row">
                <div class="col-sm-12">
                    <p class="banner">Registration Form</p>
                </div>
               <div class="clear"></div>
            </div>
            <div class="row show-hide-message">
                <div [ngClass]="messageClass">{{message}}</div>
            </div>
            <form #userForm="ngForm" [formGroup]="heroForm" (ngSubmit)="onSubmit(userForm.value)" autocomplete="off" name="userForm" novalidate> 
                <div ngModelGroup="name">
                    <div class="form-group">
                      <label for="name">Name:</label>
                        <input type="text" class="form-control nameBlock" #firstname="ngModel" minlength="3" placeholder="First Name" name="firstname" ngModel required />
                        <input type="text" class="form-control nameBlock" #lastname="ngModel" minlength="3" placeholder="Last Name" name="lastname" ngModel required />
                        <div class="clear"></div>
                        <div *ngIf="firstname.errors && firstname.dirty" class="Warning">
                            <div [hidden]="!firstname.errors.required" >
                                <span>Please Enter a first Name</span>
                            </div>
                            <div [hidden]="!firstname.errors.minlength" >      
                                <span>Please Enter at least 3 charaters</span>
                            </div>
                        </div>
                        <div *ngIf="lastname.errors && lastname.dirty" class="Warning">
                            <div [hidden]="!lastname.errors.required" >
                                <span>Please Enter a last Name</span>
                            </div>
                            <div [hidden]="!lastname.errors.minlength" >      
                                <span>Please Enter at least 3 charaters</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                  <label for="email">Email Id</label>
                    <input type="text" class="form-control" #email="ngModel" placeholder="Email Address" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" ngModel required />
                    <div *ngIf="email.errors && email.dirty" class="Warning">
                        <div [hidden] = "!email.errors.required">
                            <span>Please Enter an Email Address</span>
                        </div>
                        <div [hidden] = "!email.errors.pattern">
                            <span>Please Enter a valid Email Address</span>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                  <label for="contact">Mobile No.</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">+91</span>
                        <input type="text" class="form-control" id="contact-input" #contact="ngModel" minlength="10" maxlength="10" placeholder="Contact no." name="contact" aria-describedby="basic-addon1" pattern="^[0-9]+$" ngModel required />
                    </div>
                    <div *ngIf="contact.errors && contact.dirty" class="Warning">
                        <div [hidden] = "!contact.errors.required">
                            <span>Please Enter a Contact no.</span>
                        </div>
                        <div [hidden]="!contact.errors.minlength" >      
                            <span>Mobile Number length: 10</span>
                        </div>
                        <div [hidden] = "!contact.errors.pattern">
                            <span>Numbers only</span>
                        </div>
                    </div>
                </div>
                <div ngModelGroup="address">
                    <div class="form-group address-group">
                      <label for="address">Address</label>
                        <input type="text" class="form-control" #street="ngModel" placeholder="Street" minlength="3" name="street" ngModel required />
                        <div *ngIf="street.errors && street.dirty" class="Warning">
                            <div [hidden] = "!street.errors.required">
                                <span>Please Enter a Street name</span>
                            </div>
                            <div [hidden]="!street.errors.minlength" >      
                                <span>Minimum length: 3</span>
                            </div>
                        </div>
                        <input type="text" class="form-control" #landmark="ngModel" placeholder="Landmark" minlength="3"  name="landmark" ngModel required />
                        <div *ngIf="landmark.errors && landmark.dirty" class="Warning">
                            <div [hidden] = "!landmark.errors.required">
                                <span>Please Enter a landmark name</span>
                            </div>
                            <div [hidden]="!landmark.errors.minlength" >      
                                <span>Minimum length: 3</span>
                            </div>
                        </div>
                        <input type="text" class="form-control" #city="ngModel" placeholder="City" minlength="3" name="city" ngModel required />
                        <div *ngIf="city.errors && city.dirty" class="Warning">
                            <div [hidden] = "!city.errors.required">
                                <span>Please Enter a city name</span>
                            </div>
                            <div [hidden]="!city.errors.minlength" >      
                                <span>Minimum length: 3</span>
                            </div>
                        </div>
                        <input type="text" class="form-control" #state="ngModel" placeholder="State" minlength="3"  name="state" ngModel required />
                        <div *ngIf="state.errors && state.dirty" class="Warning">
                            <div [hidden] = "!state.errors.required">
                                <span>Please Enter a State name</span>
                            </div>
                            <div [hidden]="!state.errors.minlength" >      
                                <span>Minimum length: 3</span>
                            </div>
                        </div>
                        <input type="text" class="form-control" #postal="ngModel" placeholder="postal" minlength="6" maxlength="6" name="postal" pattern="^[0-9]+$" ngModel required />
                        <div *ngIf="postal.errors && postal.dirty" class="Warning">
                            <div [hidden] = "!postal.errors.required">
                                <span>Please Enter a postal code</span>
                            </div>
                            <div [hidden]="!postal.errors.minlength" >      
                                <span>length: 6</span>
                            </div>
                            <div [hidden] = "!postal.errors.pattern">
                                <span>Numbers only</span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <fieldset class="form-group">
                  <label>Sign me up for...</label>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="subscriptionType" #subscriptionType="ngModel" id="type1" value="monthly" ngModel checked>
                        Monthly Subscription ($9.99)
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="subscriptionType" #subscriptionType="ngModel" id="type2" value="half-yearly" ngModel>
                        Six-months Subscription ($50)
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="subscriptionType" #subscriptionType="ngModel" id="type3" value="annualy" ngModel>
                        Annual Subscription ($80)
                      </label>
                    </div>
                  
                </fieldset>
                <div class="formFooter">
                    <button [disabled]="!userForm.form.valid" type="submit" class="btn btn-default">Submit Form</button>
                    <p>We may email you regarding our services.</p>
                </div>
            </form>
        </div>
    </div>
        <div class="col-sm-2"></div>
        <div class="clear"></div>
        <div class="UserLink">
            <a>Click to view Registered Users!</a>
        </div>
    </section>
    <section class="second layer">
        <div>
            <h2>Registered Users</h2>
            <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Subscription</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of allUsers">
                <td>{{user.name.firstname}}&nbsp;{{user.name.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.contact}}</td>
                <td>{{user.subscriptionType}}</td>
            </tbody>
            </table>
        </div>
    </section>
</div>


