/*Common Styling for all*/
*{
	
	font-family: 'Varela Round', sans-serif;
	-webkit-box-sizing: border-box;
}

.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
	display:table;
}

a{
	text-decoration:none;
	color:#fff;
	cursor:pointer;
}

h3 {
    color: #384047;
    line-height: 1.4;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size:28px;
}

p {
    color: #717f86;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
}

ul{
	color:#717f86;
	line-height:1.6;
	font-size:inherit;
	list-style: none;
}

.button{
	font-size: 16px;
    height: 52px;
    line-height: 52px;
	padding:0 32px;
	font-weight:600;
	outline:none;
	text-align:center;
	cursor:pointer;
	border-radius:4px;
}

label{
    display: block !important;
}

.form-control{
    width:50%;
}

.form-check{
    text-indent: 10px;
}

/***************  main page **********/

.firstLayer{
	background-color:#e8ebed;
	border-bottom: solid 1px #e9f0f3;
    padding: 72px 0;
    text-align: center;
    min-height:600px;
}

.signupForm{
	padding:0 60px 0px;
	background-color:#fff;
	text-align:left;
	border-radius:5px;
    box-shadow: 5px 5px 10px #a9a9a9;
}

.signupForm .banner{
	margin: 0 -60px 40px;
}

.nameBlock{
    width: 48%;
    float: left;
    margin-right: 10px;
}

.signupForm p{
	background-color: #F79320;
    border-radius: 5px 5px 0 0;
    text-align:center;
    font-weight: 600;
    padding: 10px;
    color: #fff;
	font-size: 14px;
    line-height: 1.6;
}

.signupForm hr{
	border-color: #f4fcff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form.button{
	color: #fff;
	background-color: #637a91;
    border: solid 2px #637a91;
	width:60%
}

.signupForm .formFooter{
    width: 100%;
    display: inline-block;
}

.signupForm .formFooter .button{
	width:40%;
}

.signupForm .formFooter p{
	font-size:12px;
    margin: 25px -60px 0px;
    border-radius: 0 0 5px 5px;
}

.displayDiv{
    display:block
}
.hideDiv{
    display:none
}
.Warning{
    color:red
}

#contact-input{
    width: 255px;
}

.address-group input{
    margin-bottom: 5px;
    margin-top: 5px;
}

.UserLink{
    padding-top: 20px;
}

.UserLink a{
        padding: 11px;
    background: #A9A4A0;
}
