.pageContainer{ 
	background:#f2f2f2;
	height:100%;
	width:100%;
    min-height: 662px;
}

.pageContent{
	width:100%;
	height:100%;
	position:relative;
	overflow-y:auto;
    min-height: 662px;
}

.dataContainer{
	position: absolute;
    left: 215px;
    top: 101px;
    right: 0;
	bottom:0;
    overflow: auto;
} 