<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand brand-name" routerLink="/">Doit</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <div class="arrowBelow"></div>
                      <div class="arrowAbove"></div>
                      <li><a href="#">Account</a></li>
                      <li><a href="#">Settings</a></li>
                      <li><a href="#">Notifications</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a (click)="logOut()">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right" #searchTask="ngForm" name="searchTask" (ngSubmit)="onSubmit(searchTask.value)">
                <div class="form-group">
                    <input type="text" class="form-control" #search="ngModel" name="search" placeholder="Search" ngModel />
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
