.brand-name{
    padding: 10px 10px;
    font-size: 20px;
    line-height: 30px;
}

.dropdown-menu li a{
    padding: 5px 20px;
}

.dropdown-menu{
    top: 105%;
}

.arrowBelow:before, .arrowAbove:before{
	content: '';
    position: absolute;
	height: 0;
    width: 0;
	border-style : solid;
	border-width: 0 10px 10px;
	right: 5px;
    border-color: transparent;
}

.arrowBelow:before{
	top: -10px;
	border-bottom-color: #ccc !important;
}

.arrowAbove:before{
    top: -9px;
    border-bottom-color: white;
}