.page-container{
    margin-top: 50px;
    margin-right: 100px;
    text-align: center;
}

.delete-popup{
	padding:60px;
	font-size:14px;
	cursor: default;
    min-width: 300px;
    
}

.delete-popup h3{
	font-size:18px;
	margin:0;
}

.delete-popup a{
	display:inline-block;
	padding: 5px 10px;
	margin:5px;
	border: 2px solid #6f6f6f;
	color:#3c3c3c;
	height:inherit;
}

.delete-popup a:hover{
	background:#cdcdcd;
}
.arrow-below:before, .arrow-above:before{
	content: '';
    position: absolute;
	height: 0;
    width: 0;
	border-style : solid;
	border-width: 0 10px 10px;
	right: 20px;
    border-color: transparent;
}

.arrow-below:before{
	top: -10px;
	border-bottom-color: #ccc !important;
}

.arrow-above:before{
    top: -9px;
    border-bottom-color: white;
}