<div bsModal #deletePopup="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Delete Permanenty?</h4>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete the task?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default delete-cancel button" (click)="hide()">Cancel</button>
              <button type="button" class="btn btn-default delete-yes button" (click)="deleteTask()">Delete</button>
            </div>
        </div>
    </div>
</div>

