// Assignment-1

*{
    margin:0;
    padding:0;
    font-family: 'Varela Round', sans-serif;
}

.row{
    max-width: 1030px;
    margin: 0 auto;
    width: 100%;
    text-align:center;
}


a{
    text-decoration: none;
    cursor: pointer;
    }

table {
    border: 3px solid black;
    border-collapse : collapse;
    margin:20px auto;
}

th,td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

table caption{
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 10px;
}
th{ 
    background-color : #eeeeee;
    height:40px;
}
// Assignment-2

header{
    background: #eeeeee;
}

.form{
    text-align:center;
    margin: 50px auto;
}

input{
    margin: 20px;
}

#signUp{
display:none;
}

#logIn{
display:block;
}

.button{
    padding: 10px;
    background: #F68E21;
    width: 80px;
    border: none;
    border-radius: 3px;
    color: white;
}

input[type=text], input[type=password]{
    border : none;
    border-bottom: 1px solid #999999;
    outline : none;
}

a{
    color:black;
}

#newAccountButton{
    width: 150px;
}

// Assignment-3

#demoCanvas{
    margin-top: 20px;
    height:500px;
    width:800px;
}
// Assignment-4
.header4{
    background: #165988;
    color: white;
    text-align:center;
    }

 #img1{
    display: block;
    margin: 20px auto;
    height:320px; 
    width:320px;
    }

.pageContainer{
    text-align:center;
    }

 .audioSection, .videoSection{
    margin: 20px 0;
    }

#myAudio, #myVideo{
    margin-top: 15px;
    }

 #myVideo{
    width:320px;
    height: 180px;
    }

a{
    color : red;
    }

.songHead{
    font-size:150%; 
    font-weight:bold;
    }