.sub-navbar{
    margin:0;
    border: none;
    border-bottom: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    background: white;
    position: fixed;
    top: 51px;
    width:100%;
    z-index: 2;
}

