<div id="slidingForm">
    <div class="slideLoginForm">
        <p id="loginBanner">Welcome Back!</p>
        <form name="loginForm" id="loginForm" autocomplete="off">
            <div id="unameWarning"></div>
            <div class="formContainer">
                <div class="formRow">
                    <div class="formItem twelve">
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="formRow">
                    <div class="formItem twelve">
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="formFooter">
                <button type="submit" class="form button"  value="Login" >Log In</button>
            </div>
        </form>
        <a href="">New User?</a>
        <div class="clear"></div>
    </div>
</div>