/* You can add global styles to this file, and also import other style files */
.userForm{
    max-width: 700px;
    margin-top: 50px;
}
.displayDiv{
    display:block
}
            
.hideDiv{display:none}
            
.Warning{color:red}