<div class="ten column centered">
    <div class="signupForm">
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" autocomplete="off" novalidate>
            <div class="row">
                <div class="twelve column">
                    <p class="banner">Registration Form</p>
                </div>
               <div class="clear"></div>
            </div>
            <div class="row">
                <div class="twelve column">
                    <div class="formDivision">
                        <h3 class="heading"><span class="formStep">1</span>Your basic information</h3>
                        <div class="row">
                            <div class="formItem six column">
                                <input type="text" #firstname="ngModel" minlength="3" placeholder="First Name" pattern="[a-zA-Z][a-zA-Z ]+" name="firstname" ngModel required />
                                <div *ngIf="firstname.errors && firstname.dirty" class="Warning">
                                    <div [hidden]="!firstname.errors.required" >
                                        <span>Please Enter a first Name</span>
                                    </div>
                                    <div [hidden]="!firstname.errors.pattern" >      
                                        <span>Characters Only!</span>
                                    </div>
                                    <div [hidden]="!firstname.errors.minlength" >      
                                        <span>Please Enter at least 3 charaters</span>
                                    </div>
                                </div>
                            </div>
                            <div class="formItem six column">
                                <input type="text" #lastname="ngModel" minlength="3" placeholder="Last Name" pattern="[a-zA-Z][a-zA-Z ]+" name="lastname" ngModel required />
                                <div *ngIf="lastname.errors && lastname.dirty" class="Warning">
                                    <div [hidden]="!lastname.errors.required" >
                                        <span>Please Enter a last Name</span>
                                    </div>
                                    <div [hidden]="!lastname.errors.pattern" >      
                                        <span>Characters Only!</span>
                                    </div>
                                    <div [hidden]="!lastname.errors.minlength" >      
                                        <span>Please Enter at least 3 charaters</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row">
                            <div class="formItem twelve column">
                                <input type="text" #email="ngModel" placeholder="Email Address" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" ngModel required />
                                <div *ngIf="email.errors && email.dirty" class="Warning">
                                    <div [hidden] = "!email.errors.required">
                                        <span>Please Enter an Email Address</span>
                                    </div>
                                    <div [hidden] = "!email.errors.pattern">
                                        <span>Please Enter a valid Email Address</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <hr>
                </div>
               <div class="clear"></div>
            </div>
            <div class="row">
                <div class="twelve column">
                    <div class="formDivision">
                        <h3 class="heading"><span class="formStep">2</span>Your account credentials</h3>
                        <div class="row">
                            <div class="formItem six column">
                                <input type="text" #uname="ngModel" placeholder="Username" name="uname" ngModel required />
                                <div [hidden] = "uname.valid || uname.pristine" class="Warning">
                                    <span>please provide a username</span>
                                </div>
                            </div>
                            <div class="formItem six column">
                                <input type="password" #pass="ngModel" placeholder="Password" minlength="8" name="pass" ngModel required />
                                <div *ngIf="pass.errors && pass.dirty" class="Warning">
                                    <div [hidden] = "!pass.errors.required">
                                        <span>Please Enter a password</span>
                                    </div>
                                    <div [hidden]="!pass.errors.minlength" >      
                                        <span>Minimum length: 8</span>
                                    </div>
<!-- pattern="/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,16}$/"
                                    <div [hidden] = "!pass.errors.pattern">
                                        <span>Password must contain at least one special character and a number.</span>
                                    </div>
-->
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <hr>
                </div>
               <div class="clear"></div>
            </div>
            <div class="formFooter">
                <button [disabled]="!userForm.form.valid" type="submit" class="form button">Register Me</button>
                <p>We may email you regarding our services.</p>
            </div>
        </form>
    </div>
</div>