/*Common Styling for all*/
*{
	margin:0;
	padding:0;
	font-family: 'Varela Round', sans-serif;
	-webkit-box-sizing: border-box;
}

.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
	display:table;
}
.inner{
	margin:auto;
	width:75%;
}

.row{
    max-width: 1030px;
    margin: 0 auto;
    width: 100%;
}
.column{
    padding: 0 15px;
	position:relative;
	float:left;
}
.row .four, .four{
	width:33.33%
}
.row .six, .six{
	width:50%;
}
.row .seven, .seven{
	width:58.34%;
}
.row .nine, .nine{
	width:75%;
}
.ten, .row .ten {
    width: 83.33333%;
}
.row .twelve, .twelve{
	width:100%;
}
.centered{
	float:none;
	margin:0 auto;
}
.text-centered{
	text-align:center;
}

a{
	text-decoration:none;
	color:#fff;
	cursor:pointer;
}

h3 {
    color: #384047;
    line-height: 1.4;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size:28px;
}

p {
    color: #717f86;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
}

ul{
	color:#717f86;
	line-height:1.6;
	font-size:inherit;
	list-style: none;
}

.button{
	font-size: 16px;
    height: 52px;
    line-height: 52px;
	padding:0 32px;
	font-weight:600;
	outline:none;
	text-align:center;
	cursor:pointer;
	border-radius:4px;
}

/************ header & navigation bar ********/

#header{
	background:#fff;
	border-bottom:solid 1px #e9f0f3;
	height:80px;
	position:fixed;
	top:0;
	width:100%;
	z-index:99;
}

header>section{
	max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
	height:100%;
}

#header .logo{
	position:relative;
	display:inline-block;
}

#header .logo a{
    display: inline-block;
}

#header .navBar{
	margin-top:30px;
}

.navListItem{
	float :left;
	margin-left:40px;
	font-weight:600;
	font-size:15px;	
}

.navListLink{
	color:#9E9E9E;
	-webkit-transition : all 200ms ease-in-out;
}

.navList a:hover{
	color:#424242;
}


/***************  main page **********/

.pageContainer{
	margin-top:80px;
}

.firstLayer{
	background-color:#e8ebed;
	border-bottom: solid 1px #e9f0f3;
    padding: 72px 0;
    text-align: center;
    min-height:600px;
}

.signupForm{
	padding:0 60px 20px;
	background-color:#fff;
	text-align:left;
	border-radius:5px;
    box-shadow: 5px 5px 10px #a9a9a9;
}

.signupForm form .row{
	padding: 0 9px;
}

.signupForm .row .row{
	width: auto;
    margin: 0 -15px;
}

.signupForm .banner{
	margin: 0 -84px 40px;
}

.signupForm p, .newLoginForm p{
	background-color: #F79320;
    border-radius: 5px 5px 0 0;
    text-align:center;
    font-weight: 600;
    padding: 20px;
    margin: -30px -30px 30px;
    color: #fff;
	font-size: 14px;
    line-height: 1.6;
}

.signupForm hr{
	border-color: #f4fcff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formDivision .heading{
	color: #384047;
    font-size: 18px;
    margin-bottom: 30px;
}

.formDivision .formStep{
    border: solid 2px #F79320;
    color:#F79320;
    height: 30px;
    line-height: 26px;
    margin: -2px 10px 0 0px;
    position: relative;
    text-align: center;
    width: 30px;
    display: inline-block;
    border-radius: 100px;
}	

.formItem{
	padding: 0 6px;
	margin-bottom: 13px;
}

.formItem input{
	background: #e8ebed;
    margin: 0;
    font-size: 14px;
    color: #576366;
    width: 100%;
	padding: 12px 15px;
    outline: 0;
    border: 2px solid #e8ebed;
	border-radius: 5px;
}

.formItem input:focus{
    background: #fff;
    border-color: #d4d9dd;
}

.form.button{
	color: #fff;
	background-color: #637a91;
    border: solid 2px #637a91;
	width:60%
}

.signupForm .formFooter{
	margin-bottom: -10px;
    width: 100%;
    display: inline-block;
}

.signupForm .formFooter .button{
	width:40%;
    margin-left: 20px;
}

.signupForm .formFooter p{
	font-size:12px;
    margin: 20px -60px -10px;
    border-radius: 0 0 5px 5px;
}

/*footer*/

#footer{
	text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    position: relative;
}

#footer>p{
	font-size:12px;
	line-height:1.4;
	margin-bottom:10px;
}

#footer>p a{
    color: #717f86
}

#footer>p a:hover{
    color: #454f47;
}

#footer li a {
    font-size: 13px;
    transition: color 200ms ease-in-out;
}

#footer ul li{
    display: inline-block;
    margin-right: 3px;
}

#footer .social li a{
	background-color: #B9B9B9;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
}

#footer .fa{
    position: absolute;
    top: 4px;
    right: 4px;
}

#footer .fa.fa-facebook{
	right:7px;
}

#footer .social li a:hover{
	background-color:#9E9E9E;
}

/* login form */
	
.newLoginForm{
	padding: 30px;
    border-radius: 5px;
    background: white;
    box-shadow: 5px 5px 10px #a9a9a9;
    -webkit-transition: display 200ms ease-in-out;
    width: 50%;
    margin: auto;
    position: relative;
    text-align: center;
}

.newLoginForm a{
    margin-top: 20px;
    display: inline-block;
    color:#384047;
}

.newLoginForm .formContainer{
	border-bottom: 1px solid #edeff0;
	margin-bottom:18px;
	padding:0 0 5px;
}

.newLoginForm .formRow{
	width: auto;
    margin: 0 -15px;
	padding:0 9px;
}

.newLoginForm .formFooter{
	margin: 0 auto;
	text-align:center;
}

#nameWarning, #emailWarning, #passWarning, #unameWarning{
    color:red;
}