*{
	margin:0;
	padding:0;
	font-family: 'Josefin Slab', serif;
	-webkit-box-sizing: border-box;
}

.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
	display:table;
}

a{
	text-decoration:none;
	color: black;;
	cursor:pointer;
	outline:none;
    color: white !important;
}

a:focus, a:hover{
    text-decoration: none;}

ul, ol{
    list-style: none;
}

h1, h2, h3, h4, h5{
    font-weight: bolder !important;
}

.centered{
    text-align: center;
}

/***** header  ******/

header{
    background: black;
    color: white;
    margin-right: -15px;
    margin-left: -15px;
}

.logo{
    text-align: center;
}

.navList{
    float: right;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    margin-right: 30px;
}

.menuBar li{
   float: left;
    margin-left: 15px;
    border: 1px solid transparent;
}

.menuBar li:hover{
    border: 1px solid white;
}

.menuBar li a{
    padding: 15px;
    color:gray;
}

.layer1 {
    position: relative;
}

@media screen and (max-width: 768px){
    .menuBar{text-align: center;
    height: 50px;}
    .navList{
    margin: auto;
    width: 100%;
    }
    .menuBar li{float:none;display:inline;}
    .menuBar li:hover{border: none;}
}

.carousel-inner img{
    width: 500px;
    height:350px;
}

.carousel{
    
    position: relative;
    overflow: hidden;
}

.carouselCaption{
    position: absolute;
    top: 15%;
    left: 50%;
    width: 450px;
    text-align: center;
}

.carouselCaption h1{
    font-size: 60px;
}

@media screen and (max-width: 1000px){
    .carouselCaption h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 850px){
    .carouselCaption h1{
        font-size: 40px;
    }
    .carouselCaption{width: 350px;}
}

@media screen and (max-width: 670px){
    .carouselCaption h1{
        font-size: 30px;
    }
     .carouselCaption{width: 300px;}
}

@media screen and (max-width: 670px){
    .navList a{font-size:12px;}
    .carouselCaption h1{
        font-size: 24px;
    }
     .carouselCaption{width: 250px;}
}

@media screen and (max-width: 670px){
    .navList a{font-size:10px;}
}

.caption{
    text-align: center;
    padding: 50px 0;
}

.displayImage{
    background: #E0E0E0;
    margin-left: 22px;
    margin-right: 22px;
    cursor: pointer;
}

.displayImage h3{
    margin: 0;
    padding: 25px;
}

.sampleAccessory{
    position:relative;
}

.sampleCaption{
    position: absolute;
    top: 38%;
    left: 25%;
    color: white;
}

.sampleCaption h3{font-size: 45px;}
.sampleCaption h5{font-size: 25px;}

.layer4{
    margin-top:30px;
    background: #E4E4E4;
    border-top:1px solid gray;
}

.layer4 h5{
    line-height: 1.2em;
    font-size: 20px;
}

.layer4 p{
    margin-top: 10px;
    font-size: 15px;
}

.customerHelp p:hover{
    cursor:pointer;
    text-decoration: underline;
}

#socialButtons .fa{
    font-size: 35px;
    color: #999;
    margin-left: 10px;
}

#socialButtons .fa:hover{
    color: #333;
}

footer{
    padding-top: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

footer p{
    font-size: 15px;
    margin:0;
}
