<header id="header">
    <section>
        <div class="logo"><a></a></div>
        <div class="right navBar">
            <ul class="navList">
                <li class="navListItem"><a href="" class="navListLink">About</a></li>
                <li class="navListItem"><a href="" class="navListLink">Contact Us</a></li>
                <li class="navListItem"><a [routerLink]="['/home', { outlets: {'child1':['login'] }}]" class="navListLink" routerLinkActive="active">Log In</a></li>
                <li class="navListItem"><a  [routerLink]="['/home', { outlets: {'child1':['signup'] }}]" class="navListLink" routerLinkActive="active">Register</a></li>
                <div class="clear"></div>
            </ul>
        </div>
    </section>
</header>
<section class="pageContainer">
    <section class="firstLayer">
        <div class="row" id= "fixedForm">
            <router-outlet name='child1'></router-outlet>
        </div>
    </section>
</section>
<footer id="footer">
    <p>
        &copy; Copyright 2017-18 All Rights Reserved
    </p>
    <p>
        <a href="">About </a>
        •
        <a href=""> Contact Us </a>
        •
        <a href=""> Terms and conditions</a>
    </p>
    <ul class="social">
        <li><a href="https://plus.google.com"><span class="fa fa-google-plus"></span></a></li>
        <li><a href="https://twitter.com"><span class="fa fa-twitter"></span></a></li>
        <li><a href="https://facebook.com"><span class="fa fa-facebook"></span></a></li>
        <li><a href="https://youtube.com"><span class="fa fa-youtube-play"></span></a></li>
    </ul>
</footer>

