<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand-name" routerLink="/">Doit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!display" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/dashboard">Dashboard</a></li>
            <li *ngIf="!display" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/mytasks">My Tasks</a></li>
            <li><a *ngIf="display" routerLink="/login">Login</a></li>
            <li><a *ngIf="display" routerLink="/register">Register</a></li>
            <li><a *ngIf="!display" routerLink="/">Logout</a></li>
        </ul>
        <form *ngIf="!display" class="navbar-form navbar-right" #searchTask="ngForm" (ngSubmit)="onSubmit(searchTask.value)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>