<header id="dashboardHeader">
    <section class="fixedHeader">
        <div class="logo sbh"><a href=""></a></div>

        <div class="right navBar sbh">
            <div class="profileButton">
                <a class="profileAnchor">
                    <span id="userName">{{userName}}</span>
                    <span class="fa fa-navicon"></span>
                </a>
                <div class="logoutPopup popup" id="logout">
                    <div class="arrowBelow"></div>
                    <div class="arrowAbove"></div>
                    <div class="description">
                        <div class="dp"><img src="images/anonymous.jpg" /></div>
                        <div id="accInfo">
                        </div>
                    </div>
                    <div class="logOut">
                        <button class="logOutButton button" type="submit" >Log Out</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="accountSettings right navBar sbh"><span class="fa fa-cog"></span></div>
        <div class="searchBarContainer right sbh">
            <div class="searchBar">
                <div class="searchBarLeft">
                    <input type="text" placeholder="search..">
                </div>
                <div class="searchBarRight">
                    <button class="searchButton">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </section>
</header>


<section class="pageContainer">
    <section class="pageContent">
        <div class="sideBar">
            <div class="sideHeading">
                <a href="">WELCOME !</a>
            </div>
            <div class="navButtons">
                <div class="overview navStyle">
                    <div id="overview" class= "navItem active">
                        <span class="material-icons">description</span>
                        &ensp;Overview
                    </div>
                </div>
                <div class="repository navStyle">
                    <div id="repositories" class="navItem">
                        <span class="material-icons">code</span>
                        &ensp;Repositories
                    </div>
                </div>
                <div class="projects navStyle">
                    <div id="projects" class="navItem">
                        <span class="material-icons">folder</span>
                        &ensp;Projects
                    </div>
                </div>
                <div class="issues navStyle">
                    <div id="issues" class="navItem">
                        <span class="material-icons">report</span>
                        &ensp;Issues
                    </div>
                </div>
                <div class="snippets navStyle">
                    <div id="snippets" class="navItem">
                        <span class="material-icons">content_cut</span>
                        &ensp;Snippets
                    </div>
                </div>
                <div class="teams navStyle">
                    <div id="teams" class="navItem">
                        <span class="material-icons">group</span>
                        &ensp;Teams
                    </div>
                </div>
                 <div class="feedback navStyle">
                    <div id="feedback" class="navItem">
                        <span class="material-icons">sms</span>
                        &ensp;Provide Feedback
                    </div>
                </div>
            </div>

        </div>
        <div class="seperator"></div>
        <div class="dataContainer">
            <div class="dataWrapper">
                <h1 class="pageHeader">DASHBOARD</h1>
                <div class="tableContainer">
                    <h1 class="tableHeader">Repositories</h1>
                    <table class="table">
                        <thead>
                          <tr>
                            <th id="repoColumn">Repository</th>
                            <th id="projectColumn">Project</th>
                            <th id="ownerColumn">Owner</th>
                            <th id="actionColumn">Actions</th>
                          </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr><form name="newRepoForm" #form = "ngForm" (ngSubmit)="onSubmit(form.value)">
                                <td>
                                  <input type="text" name="repository" required ngModel/>
                                </td>
                                <td>
                                   <input type="text" name="project" required ngModel/>
                                </td>
                                <td>
                                   <input type="text" name="owner" required ngModel/>
                                </td>
                                <td class="actionButton">
                                    <div class="addButton">
                                        <button type="submit" name="button" class="button1 outline add" >Add</button>
                                    </div>
                                </td>
                            </form></tr>
                            <tr *ngFor = "let repository of  allRepositories"  >
                                <td>{{repository.repository}}<td>
                                <td>{{repository.project}}<td>
                                <td>{{repository.owner}}<td>
                                <td><div class="deleteButton"><button class="button1 outline delete"  title="delete" (click)="onDelete(repository)"><span class="fa fa-trash-o"></span></button></div><td>
                            </tr>
                        </tbody>
                  </table>
                </div>
            </div>
        </div> 
        <div class="clear"></div>
    </section>
    <div class="clear"></div>			
</section>