*{
	margin:0;
	padding:0;
	font-family: 'Varela Round', sans-serif;
	-webkit-box-sizing: border-box;
}

html{
	width:100%;
	height:100%;
}

body{
	width:100%;
	height:100%;
}

.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
	display:table;
}
.inner{
	margin:auto;
	width:75%;
}

.row{
    max-width: 1030px;
    margin: 0 auto;
    width: 100%;
}
.column{
    padding: 0 15px;
	position:relative;
	float:left;
}
.row .four, .four{
	width:33.33%
}
.row .six, .six{
	width:50%;
}
.row .seven, .seven{
	width:58.34%;
}
.row .nine, .nine{
	width:75%;
}
.ten, .row .ten {
    width: 83.33333%;
}
.row .twelve, .twelve{
	width:100%;
}
.centered{
	float:none;
	margin:0 auto;
}
.text-centered{
	text-align:center;
}

a{
	text-decoration:none;
	color:#fff;
	cursor:pointer;
}
h1, h2, h3, h4, h5, h6 {
    color: #384047;
    line-height: 1.4;
    margin-bottom: 15px;
    margin-top: 15px;
}
h3{
	font-size:28px;
}
h4{
	font-size:20px;
}
h5{
	font-size:16px;
}
p {
    color: #717f86;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
}
small{
	font-size:65%;
	line-height:inherit;
}
ul{
	color:#717f86;
	line-height:1.6;
	font-size:inherit;
	list-style: none;
}
.button{
	font-size: 16px;
    height: 52px;
    line-height: 52px;
	padding:0 32px;
	font-weight:600;
	outline:none;
	text-align:center;
	cursor:pointer;
	border-radius:4px;
}


/*******************header & navigation bar *********************/

#dashboardHeader{
	position:fixed;
	top:0;
	left:0;
	width:100%;
    height: 60px;
	z-index:2;
	background-color: #fafafa;
    border-bottom: 1px solid transparent;
	box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

#dashboardHeader>section{
	max-width: 95%;
    margin: 0 auto;
}


#dashboardHeader .logo{
	position:relative;
	width:30%;
}

#dashboardHeader .logo a{
	display:inline-block;
	position:absolute;
	padding:0 25px;
    background: url(../../images/logo1.png) no-repeat top left;
}

#dashboardHeader .logo h2{
	color:#F79320;
	margin:0;
	line-height:inherit;
}

#dashboardHeader .fixedHeader .sbh{
	height: 60px;
    line-height: 60px;
    vertical-align: middle;
	display:inline-block;
}

.searchBarContainer{
	position:relative;
	width:20%;
}

.searchBar{
	width:100%;
	display:flex;
	padding: 0 25px;
}

.searchBarLeft, .searchBarRight{
	display:inline-block;
}

.searchBarLeft{
	-webkit-flex : auto;
	width:100%;
}

.searchBarRight{
	-webkit-flex: none;
}

.searchBarLeft input{
	height:32px;
	width:100%;
	border: 1px solid #cdcdcd;
	background:#fff;
	padding: 5px 10px;
	border-right-width: 0;
    outline:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.searchBarRight button{
    border: 1px solid transparent;
    height: 32px;
    outline: none;
    width: 60px;
    background: #adadad;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.searchButton span{
	color:white;
	font-size:16px;	
}

#dashboardHeader .navBar{
	margin-right:10px;
    margin-left:10px;
}

.accountSettings span{
	font-size: 28px;
    color: #adadad;
    cursor: pointer;
	line-height: 60px;
    vertical-align: middle;
    height: 60px;
}

.accountSettings span:hover{
	color:#777;
}

.profileButton{
	position:relative;
}

.profileButton a{
	color: #384047;
    padding: 10px;
    border: solid 2px transparent;
}

#userName{
    margin-right: 10px;
}

.profileButton a:hover{
	border-color:#384047;
}

.logoutPopup{
	top: 60px;
	right: 0px;
	min-width:200px;
}

.popup{
	border-radius: 2px;
	background: #fff;
    border: 1px solid #ccc;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
    text-align: center;
	position: absolute;
	display:none;
    z-index:1;
	color:#384047;
}

.arrowBelow:before, .arrowAbove:before{
	content: '';
    position: absolute;
	height: 0;
    width: 0;
	border-style : solid;
	border-width: 0 10px 10px;
	right: 20px;
    border-color: transparent;
}

.arrowBelow:before{
	top: -10px;
	border-bottom-color: #ccc !important;
}

.arrowAbove:before{
    top: -9px;
    border-bottom-color: white;
}
	
.description{
	margin:20px;
    border-bottom: solid 1px #cccccc;
}

.description .dp{
	height: 95px;
    width: 95px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.dp img{
	height:95px;
	width:95px;
}

#accInfo{
	margin: 10px 0;
    line-height:1.5;
}

.logOut{
	padding-bottom: 20px;
}

.logOutButton{
	line-height: 35px;
    height: 35px;
    padding: 0 12px;
    border-radius: 2px;
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #384047;
    font-weight: normal;
}

/******************** body *****************/

.pageContainer{
	background:#f2f2f2;
	height:100%;
	width:100%;
    margin-top: 0px;
}

.pageContent{
	width:100%;
	height:100%;
	position:relative;
	overflow-y:auto;
}

.sideBar{
	min-width:210px;
	max-width:210px;
    overflow: auto;
	position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
}

.sideHeading{
    padding: 28px 18px 15px;	
}

.sideHeading a{
    color: #666;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 26px;
}

.navButtons{
	display: inline-block;
    min-width: 100%;
    position: relative;
}

.navItem.active{
	border-left: solid 4px #F79320 !important;
	cursor:default;
	color:#F79320 !important;
	font-weight:bold;
}

.navButtons .navItem{
	padding: 10px 20px;
    font-size: 14px;
    color: #666;
    vertical-align: middle;
    border-left: solid 4px transparent;
}

.navButtons .navItem span{
	height: 24px;
    line-height: 24px;
    vertical-align: middle;
}

.navButtons .navItem:hover{
	cursor:pointer;
	background-color:#e1e1e1;
}

.navItem.active{
    pointer-events:none;
}

.pageContent .seperator{
	border-left: 1px solid #d1d1d1;
	width:5px;
	left: 210px;
	top: 60px;
    bottom: 0;
    position: absolute;
    overflow: auto;
}

.dataContainer{
	position: absolute;
    left: 215px;
    top: 60px;
    right: 0;
	bottom:0;
    overflow: auto;
}

.dataWrapper{
	width:100%;
	position: relative;
    padding: 20px;
}

.pageHeader{
    border-bottom: solid 2px #bbb;
    margin-top: 0;
    padding-bottom: 10px;
    font-size: 28px; 
}

.tableHeader{
        margin-top: 25px;
}

.table{
    margin-top: 25px;
    padding: 10px 20px;
    width:90%;
}

th{
    text-align: left;
}

#repoColumn{
    width:25%;
}
#projectColumn{
    width:15%;
}
#ownerColumn, #actionColumn{
    width:10%;
}

td input{
    width: 180px;
    height: 25px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #aaa;
    padding: 2px;
}

.button1{
	display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
}

.button1.add{
    width: 50px;
    background: #ccc;
    margin: 0;
    font-size:14px;
}

.button1.outline{
    border: 2px solid #bbbbbb;
    color: #000;
}

.button1.outline:hover{
	border-color:#6e6e6e;
}

.deleteButton, .addButton{
	display:inline;
}

.deletePopup{
	padding:15px;
	font-size:14px;
	cursor: default;
    min-width: 300px;
	right: 0;
    top: 50px;
}

.deletePopup h3{
	font-size:14px;
	margin:0;
}

.deletePopup a{
	display:inline-block;
	padding: 5px 10px;
	margin:5px;
	border: 2px solid #6f6f6f;
	color:#3c3c3c;
	height:inherit;
}

.deletePopup a:hover{
	background:#cdcdcd;
}